                                                        Applying the KNN

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('User_Data.csv')
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [3]:
dummy_gender = pd.get_dummies(df['Gender'], prefix='Gender')

# Concatenate the dummy variables with the original DataFrame
df = pd.concat([df, dummy_gender], axis=1)

# Drop the original "Gender" column if needed
df.drop('Gender', axis=1, inplace=True)
df

      User ID  Age  EstimatedSalary  Purchased  Gender_Female  Gender_Male
0    15624510   19            19000          0          False         True
1    15810944   35            20000          0          False         True
2    15668575   26            43000          0           True        False
3    15603246   27            57000          0           True        False
4    15804002   19            76000          0          False         True
..        ...  ...              ...        ...            ...          ...
395  15691863   46            41000          1           True        False
396  15706071   51            23000          1          False         True
397  15654296   50            20000          1           True        False
398  15755018   36            33000          0          False         True
399  15594041   49            36000          1           True        False

[400 rows x 6 columns]

In [4]:
df['Gender_Male'] = df['Gender_Male'].replace({True:1, False: 0})
df['Gender_Female'] = df['Gender_Female'].replace({True:1, False: 0})
df

      User ID  Age  EstimatedSalary  Purchased  Gender_Female  Gender_Male
0    15624510   19            19000          0              0            1
1    15810944   35            20000          0              0            1
2    15668575   26            43000          0              1            0
3    15603246   27            57000          0              1            0
4    15804002   19            76000          0              0            1
..        ...  ...              ...        ...            ...          ...
395  15691863   46            41000          1              1            0
396  15706071   51            23000          1              0            1
397  15654296   50            20000          1              1            0
398  15755018   36            33000          0              0            1
399  15594041   49            36000          1              1            0

[400 rows x 6 columns]

In [5]:
column_order = ['Age','EstimatedSalary','Gender_Male','Gender_Female','Purchased']
df=df[column_order]
df

     Age  EstimatedSalary  Gender_Male  Gender_Female  Purchased
0     19            19000            1              0          0
1     35            20000            1              0          0
2     26            43000            0              1          0
3     27            57000            0              1          0
4     19            76000            1              0          0
..   ...              ...          ...            ...        ...
395   46            41000            0              1          1
396   51            23000            1              0          1
397   50            20000            0              1          1
398   36            33000            1              0          0
399   49            36000            0              1          1

[400 rows x 5 columns]

In [6]:
# Training and Test data using
from sklearn.model_selection import train_test_split
train,test = train_test_split(df,test_size = 0.2)

In [7]:
train

     Age  EstimatedSalary  Gender_Male  Gender_Female  Purchased
277   49            88000            1              0          1
124   41            51000            0              1          0
128   30            17000            1              0          0
379   58            23000            0              1          1
229   42            80000            0              1          1
..   ...              ...          ...            ...        ...
325   41            60000            0              1          0
72    20            23000            0              1          0
240   42           149000            1              0          1
223   60           102000            1              0          1
50    24            32000            0              1          0

[320 rows x 5 columns]

In [8]:
test

     Age  EstimatedSalary  Gender_Male  Gender_Female  Purchased
245   51           146000            0              1          1
282   37            70000            1              0          1
94    29            83000            0              1          0
239   53           143000            0              1          1
267   37            74000            1              0          0
..   ...              ...          ...            ...        ...
298   45            79000            1              0          0
303   37            79000            1              0          1
356   54            70000            1              0          1
297   43           112000            0              1          1
37    30            49000            1              0          0

[80 rows x 5 columns]

In [9]:
# KNN using sklearn
# Importing Knn algorithm from sklearn.neighbors
from sklearn.neighbors import KNeighborsClassifier as KNC

In [10]:
# for 3 nearest neighbours
neigh = KNC(n_neighbors= 3)
neigh

KNeighborsClassifier(n_neighbors=3)

In [11]:
# Fitting with training data
neigh.fit(train.iloc[:,0:4],train.iloc[:,4])

KNeighborsClassifier(n_neighbors=3)

In [12]:
train_pred=neigh.predict(train.iloc[:,0:4])
train_pred

array([1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0,
       0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0], dtype=int64)

In [13]:
# train accuracy
train_acc = np.mean((neigh.predict(train.iloc[:,0:4]))==(train.iloc[:,4])) # 94 %
print(train_acc*100)

90.625

In [14]:
# test accuracy
test_acc = np.mean(neigh.predict(test.iloc[:,0:4])==test.iloc[:,4]) # 100%
print(test_acc*100)

70.0

In [15]:
# for 5 nearest neighbours
neigh = KNC(n_neighbors=5)
neigh

KNeighborsClassifier()

In [16]:
# fitting with training data
neigh.fit(train.iloc[:,0:4],train.iloc[:,4])

KNeighborsClassifier()

In [17]:
# train accuracy
train_acc = np.mean(neigh.predict(train.iloc[:,0:4])==train.iloc[:,4])
train_acc*100

89.375

In [18]:
# test accuracy
test_acc = np.mean(neigh.predict(test.iloc[:,0:4])==test.iloc[:,4])
test_acc*100

73.75